

body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.lable-style {
  @apply text-[14px] text-black text-lg font-rubik-medium; 
}
.form-style {
  @apply px-3 py-2.5 border border-purple-700 outline-none focus-visible:ring focus-visible:ring-purple-700  text-lg font-rubik-light  focus:ring-2 focus:ring-purple-700  rounded-lg;
}

a {
  text-decoration: none; /* Removes underline */
}
link {
    text-decoration: none; /* Removes underline */  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

